<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bm.fqservice.mapper.BAreaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bm.fqservice.model.BArea">
        <id column="area_id" property="areaId" />
        <result column="area_name" property="areaName" />
        <result column="parent_id" property="parentId" />
        <result column="level" property="level" />
    </resultMap>

</mapper>
