<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bm.fqservice.mapper.BOrderSettlementMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bm.fqservice.model.BOrderSettlement">
        <id column="settlement_id" property="settlementId" />
        <result column="pay_no" property="payNo" />
        <result column="biz_pay_no" property="bizPayNo" />
        <result column="order_number" property="orderNumber" />
        <result column="pay_type" property="payType" />
        <result column="pay_type_name" property="payTypeName" />
        <result column="pay_amount" property="payAmount" />
        <result column="is_clearing" property="isClearing" />
        <result column="user_id" property="userId" />
        <result column="created_at" property="createdAt" />
        <result column="clearing_time" property="clearingTime" />
        <result column="version" property="version" />
        <result column="pay_status" property="payStatus" />
    </resultMap>

</mapper>
