<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bm.fqservice.mapper.BOrderItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bm.fqservice.model.BOrderItem">
        <id column="order_item_id" property="orderItemId" />
        <result column="shop_id" property="shopId" />
        <result column="order_number" property="orderNumber" />
        <result column="prod_id" property="prodId" />
        <result column="sku_id" property="skuId" />
        <result column="prod_count" property="prodCount" />
        <result column="prod_name" property="prodName" />
        <result column="sku_name" property="skuName" />
        <result column="pic" property="pic" />
        <result column="price" property="price" />
        <result column="user_id" property="userId" />
        <result column="product_total_amount" property="productTotalAmount" />
        <result column="rec_time" property="recTime" />
        <result column="comm_sts" property="commSts" />
        <result column="basket_date" property="basketDate" />
    </resultMap>

</mapper>
